<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>电影展示</title>
  <link rel="stylesheet" href="assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="assets/css/wap.css">
</head>

<body ng-app="moviecat">
<!-- 顶部导航栏开始 -->
<div class="top">
  <div class="header" ng-controller="SearchController">
    <a href="#/home_page"><img src="assets/img/logo.png" alt=""></a>
    <div class="search">
      <input class="my-input" type="text" placeholder="电影搜索" ng-model="searchText">
      <button ng-click="search()">搜索</button>
    </div>
  </div>
  <nav class="nav" menu-active=>
  </nav>
</div>
<!-- 顶部导航栏结束 -->
<div class="container" ng-view>
  <!--电影列表结束-->

  <!-- 电影详情开始 -->
  <!-- 电影详情结束 -->
  <!--其他-->
</div>
<footer class="footer">
  <div class="container">
    <p>版权所有&copy;Visupervi@outlook.com(允许侵权)</p>
  </div>
</footer>
<script src="assets/js/prefixfree.min.js"></script>
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="./homepage/module.js"></script>
<script src="./jsonpService/jsonService.js"></script>
<script src="./moviecatList/module.js"></script>
<script src="./moviedetail/module.js"></script>
<script src="./search/module.js"></script>
<script src="moviecatMenu/module.js"></script>
</body>

</html>
